<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="cache-control" content="no-store" />
        <title>Subir foto</title>
    </head>
    <body>
        <style>
            body {
                height: 200px;
            }
        </style>
        <div class="container">
            <div class="row">
                <form method="post" enctype="multipart/form-data" action="/PhotoFile/UploadPhoto">
                    <div class="form-control col-lg-12 col-md-12">
                        <label>Archivo: </label>
                        <input id="file" type="file" name="file" accept="image/png, image/jpeg, image/jpg" required>
                    </div>
                    <div class="form-control col-lg-12 col-md-12">
                        <label>Id de la especie: </label>
                        <input id="KindId" type="number" name="KindId" required>
                    </div>
                    <div class="form-control col-lg-12 col-md-12">
                        <label>Descripción: </label>
                        <textarea id="Description" type="text" name="Description" required></textarea>
                    </div>
                    <input id="Filename" name="Filename" type="hidden" value="">
                    <div class="form-control col-lg-12 col-md-12">
                        <button class="btn btn-primary" type="submit">Subir</button>
                    </div>
                </form>
            </div>
        </div>
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script>
            $(document).ready(function() {
                $("input:file").change(function() {
                    $("#Filename").val($("#file").val().split(/[\\\/]/).pop());
                    console.log("File: " + $("#file").val());
                    console.log("Filename: " + $("#Filename").val());
                });
            });
        </script>
    </body>
</html>