@using Microsoft.Extensions.FileProviders
@model IDirectoryContents



@{
    Layout = "~/Pages/_Layout.cshtml";
}

@{
    ViewBag.Title = "Download";
}

<h1>BOSQUE PROTECTOR</h1>
<h2>Sound files downloader</h2>


<form method="post" enctype="multipart/form-data" action="/Download/UploadFile">

Choose file:<br>
<input type="file" name="file" multiple /><br>
<table>
<thead>
    <tr>
        <th>FILES</th>
        <th></th>

    </tr>
                                              
</thead>
<tbody>
    
        @foreach (IFileInfo item in Model)
         {
    <tr>
        <td>
            @item.Name <br />
        </td>
    </tr>
        }

    
</tbody>
</table>


<button type="submit">Download</button>
</form>
