@page
@{
}

@{
    Layout = "~/Pages/_Layout.cshtml";
}

@{
    ViewBag.Title = "Download";
}

<h1>BOSQUE PROTECTOR</h1>
<h2>Sound files downloader</h2>


<form method="post" enctype="multipart/form-data" action="/Download/UploadFile">
    @*Select device:<br>
        <select name="cars">
            <option value="device1">Device 1</option>
            <option value="device2">Device 2</option>
            <option value="device3">Device 3</option>
        </select><br>*@
    Choose file:<br>
    <input type="file" name="file" multiple /><br>
    Initial date:<br>
    <input type="date" name="initialDate" /><br>
    Final Date:<br>
    <input type="date" name="finalDate" /><br><br>
    <button type="submit">Upload File</button>
</form>
