@using Microsoft.Extensions.FileProviders
@model WebApplication.IndexModel



@{
    Layout = "~/Pages/_Layout.cshtml";
}

@{
    ViewBag.Title = "Download";
}

<h1>BOSQUE PROTECTOR</h1>
<h2>Sound files downloader</h2>

<form method="post" enctype="multipart/form-data" action="/Download">
    
    <select id="device1" onchange="this.form.submit()">
       @foreach (IFileInfo device in Model.Devices)
        {
            <option value="@device.PhysicalPath"> @device.Name</option>

        }
    </select>

</form>


<form method="post" enctype="multipart/form-data" action="/Download/DownloadFiles">

    <table>
        <thead>
            <tr>
                <th>FILES</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

           @foreach (IFileInfo item in Model.Files)
            {
            <tr>
                <td>
                    @item.Name <br />
                </td>
            </tr>
            }

        </tbody>
    </table>
    
    <button type="submit">Download</button>
</form>
