@using Microsoft.Extensions.FileProviders
@model WebApplication.IndexModel

@{
    Layout = "~/Pages/_Layout.cshtml";
}

@{
    ViewBag.Title = "Downloader";
}
@section Home{
  <a id="home-pag" href='@Url.Action("Index","")'><i class="fa fa-home w3-xxlarge navbar-text"></i></a>
}
<!-- Favicon -->
<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">


<link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"> 

<!-- Slick slider -->
<link rel="stylesheet" type="text/css" href="wwwroot/lib/bootstrap/slick.css">    

<!-- Main style sheet -->
<link href="~/css/site.css" rel="stylesheet">    

<!-- Google Fonts -->

<!-- Prata for body  -->
<link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
<!-- Tangerine for small title -->
<link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>   
<!-- Open Sans for title -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>

<!-- Start About us -->
<section id="mu-about-us">
  
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mu-about-us-area">

        <div class="mu-title">
          <br />
          <h2>Descarga de audios</h2>
        </div>



          <div class="form-group">
            <table class="table table-bordered" id="vertical-table">
              
              <tr><th><label for="ddl">Station </label></th> 
                <td>    
                </td>    
              </tr>

              <tr><th><label id="ReportBeginDate">Report Begin Date </label></th>
                <td>  
                  <input type="date" class="form-control" name="start" value="" />
                </td>
              </tr>
          
              <tr><th><label id="ReportEndDate">Report End Date</label></th>
                <td>  
                  <input type="date" class="form-control" name="end" value="" />
                </td>  
              </tr>  
          
            </table>

            <br />
            <button type="submit" class="out">Search</button><br /><br /><br />
          </div> 

             

        
          <div class="table-responsive">
            <table class="table table-bordered" id="horizontal-table">
                <thead>
                  <!-- <th>#</th> -->
                  <th><input type="checkbox" id="selectAll"></th>
                  <th>Name File</th>
                  <th>Date Created</th>
                  <th>Play</th>
                  <th>Label &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i class="glyphicon glyphicon-search"></i></th>
                </thead>

                  <tr>
                            <td>
                                <input type="checkbox" class="check" value="">
                            </td>
                            <td>
                            </td>
                            <td>
                                
                            </td>
                            <td>
                            </td>
                  </tr>
                
              </table>

            <br />
            <button id="dl" type="button" class="out">Download</button><br /><br /><br /> 
          </div>        
      </div>
    </div>      
  </div>
</div>
</section>
@section Scripts {
   <script type="text/javascript">
      $(document).ready(function(){
        $("#selectAll").change(function(){
    	    var cbs = $("input.check");
    	    if($("#selectAll").is(":checked")){
        	  cbs.each(function(){
              $(this).prop("checked", true);
            });
          } else {
        	  cbs.each(function(){
              $(this).prop("checked", false);
            });
          }
        });

        $("#dl").click(function(){
    	    var cbs = $("input.check");
          var lista_check = "";
          cbs.each(function(){
            if($(this).is(":checked")){
              lista_check = lista_check + $(this).val() + ",";
            }
          });
          lista_check = lista_check.substring(0, lista_check.length - 1);
          $("#lista").attr("value", lista_check);
          if(lista_check.length != 0){
            $("#form2").submit();        
          } else {
            alert("No ha seleccionado ningún archivo");
          }
        });
        
      });
    </script> 
}