@model WebApplication.ViewModel.ImageViewModel


@{
    ViewBag.Title = "Imagenes";
}

@section Style {
    <style>
        #mu-about-us {
            padding: 15px;
            margin-right: 270px;
        }

        #div_tabla_especies {
            margin-top: 20px;
            margin-bottom: 50px;
        }

        .modal-footer {
            text-align: center !important;
        }

        #imagen {
            display: block;
            margin: auto;
            width: 60%;
        }
    </style>
}

<!-- Favicon -->
<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">


<!-- Main style sheet -->
<link href="~/css/site.css" rel="stylesheet">

<!-- Google Fonts -->
<!-- Prata for body  -->
<link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
<!-- Tangerine for small title -->
<link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
<!-- Open Sans for title -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<!-- Start About us -->
<section id="mu-about-us">

    <div class="container">
        <div class="row" style="margin-right: 270px;">
            <div class="col-md-12">
                <div class="mu-about-us-area">

                    <div class="mu-title">
                        <h2> Descarga de Imagenes </h2>
                    </div>

                    <form asp-controller="Image" asp-action="List" method="post" role="form">

                        <div class="form-group">
                            <table class="table table-bordered input-group" id="vertical-table">

                                <tr>

                                    <th><label> Estación </label></th>
                                    <td>

                                         @Html.DropDownListFor(m => m.StationId,
                                                                new SelectList(Model.estaciones.Select(x => new { Value = x.Id, Text = x.Name}), "Value", "Text"),
                                                                "Estación", htmlAttributes: new { @class = "from-control border-input" })
                                        <span asp-validation-for="estaciones" class="text-danger"></span>                       
                                    </td>
                                   
                                </tr>

                                <tr>
                                    <th>
                                        <label>Fecha Inicial</label>
                                    </th>
                                    <td>
                                        <input asp-for="Start" class="form-control col-sm-8" type="date">
                                        <span asp-validation-for="Start" class="text-danger"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        <label>Fecha Final</label>
                                    </th>
                                    <td>
                                        <input asp-for="End" class="form-control col-sm-8" type="date">
                                        <span asp-validation-for="End" class="text-danger"></span>
                                    </td>
                                </tr>

                            </table>

                            <br />
                            <button id="search" type="submit" class="out">Buscar</button><br /><br /><br />
                        </div>
                    </form>



                    

                </div>

            </div>
        </div>
    </div>
</section>

@section scripts
{

    <script>
        $(document).ready(function () {
            $('#estaciones').select2({
                placeholder: "Escoja una opción",
                language: "es"
            });
        });


        $(document).ready(function () {
            $('#tabla_image').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "columns": [
                    { "width": "30%" },
                    { "width": "20%" },
                    { "width": "30%" },
                    { "width": "20%" }
                ]
            });
        });

    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script><font></font>

}