
@using Microsoft.Extensions.FileProviders
@model WebApplication.IndexModel

@{
    Layout = "~/Pages/_Layout.cshtml";
}

@{
    ViewBag.Title = "DeviceRegister";
}

<!-- Favicon -->
<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

<!-- Font awesome -->
<link href="assets/css/font-awesome.css" rel="stylesheet">

<link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"> 

<!-- Slick slider -->
<link rel="stylesheet" type="text/css" href="wwwroot/lib/bootstrap/slick.css">    

<!-- Main style sheet -->
<link href="~/css/site.css" rel="stylesheet">    

<!-- Google Fonts -->

<!-- Prata for body  -->
<link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
<!-- Tangerine for small title -->
<link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>   
<!-- Open Sans for title -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>



<!-- Start About us -->
<section id="mu-about-us">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mu-about-us-area">

        <div class="mu-title">
          <br />
          <h2>Device Register</h2>
        </div>


        <form method="post" enctype="#mu-about-ustipart/form-data" action="">
          <div class="form-group">
            <table class="table table-bordered" id="vertical-table">
              
              <tr><th><label for="ddl">Device ID </label></th> 
                <td> <input></input> </td>
              </tr>

              <tr><th><label>Latitude </label></th>
                <td> <input></input> </td>
              </tr>
          
              <tr><th><label>Length </label></th>
                <td> <input></input> </td>
              </tr>  
          
              <tr><th><label>Android Version </label></th>
                <td> <input></input> </td>
              </tr>  

              <tr><th><label>Service Version </label></th>
                <td> <input></input> </td>
              </tr>  

            </table>

        
            <br />
            <button type="submit" id="out">Save</button><br />
          </div>        
        </form>         


	<!-- //////////////////////////////////////////////////////////////////////////////// -->

        <div class="mu-title">
          <br />
          <h2>Sensor </h2>
        </div>

        <form method="post" enctype="#mu-about-ustipart/form-data" action="">
          <div class="form-group">
            <table class="table table-bordered" id="vertical-table">
              
              <tr><th><label for="ddl">Sensor ID </label></th> 
                <td> <input></input> </td>
              </tr>

              <tr><th><label>Name ID</label></th>
                <td> <input></input> </td>
              </tr>
          
              <tr><th><label>Function </label></th>
                <td> <input></input> </td>
              </tr>  

            </table>

            <button id="out">Add Sensor </button><br /><br /><br /> 
        
            <br />
            <button type="submit" id="out">Save</button><br /><br /><br /> 
          </div>        
        </form>         


	<!-- //////////////////////////////////////////////////////////////////////////// -->
                   
      </div>
    </div>      
  </div>
</div>
</section>

