@{
    ViewBag.Title = "Crear Alerta";
}
@section Style {
    <style>
        #titulo {
            text-align: center;
        }
        #boton_alerta {
            text-align: left;
            margin-top: 20px;
            margin-bottom: 65px;
        }
        #subtitulo {
            margin-bottom: 5px;
        }
        #formulario {
            margin-left: 0;
            margin-right: 270px;
            overflow: hidden;
        }
        textarea {
            resize: none;
        }

        #mensaje {
            color: gray;
        }
        .modal-footer {
            text-align: center !important;
        }

        .condition-container {
            margin: 10px;
            padding: 5px;
        }
    </style>
}

<div id="formulario" class="row">
    <form id="form_crear_alerta" method="post" enctype="multipart/form-data" action="/api/alert/">
        <div id="titulo" class="form-group col-lg-12 col-md-12">
            <h2>Creación de alerta</h2>
        </div>
        <div class="form-group col-lg-12 col-md-12">
            <label>Nombre: </label>
            <input id="alert_name" class="form-control" type="text" name="alert_name" required>
        </div>
        <div class="form-group col-lg-12 col-md-12">
            <label>Nivel: </label>
            <select name="tipo_alerta" class="form-control" required="">
                <option value="" hidden="">Escoja una opción</option>
                    <option value="3">3 - Incidente Crítico</option>
                    <option value="2">2 - Emergencia Situacional</option>
                    <option value="1">1 - Crisis</option>
            </select>
        </div>
        <div class="col-lg-12 col-md-12">
            <a id="info-niveles" class="text-muted" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Mas información sobre los niveles</a>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <ul>
                        <li><p class="text-info">3: A Level Three emergency is a minor emergency or critical incident that has the potential to require more resources than the responding department has available</p></li>
                        <li><p class="text-warning">2: A Level Two emergency is one that requires a major response and the significant commitment of resources from several University departments or units, but will still be within the capabilities of the University to control</p></li>                        
                        <li><p class="text-danger">1: A Level One emergency is a major emergency, major crisis, or disaster that requires an extensive response and commitment of resources from many departments/units and usually requires outside assistance</p></li>
                    </ul>
                    <a class="tex-muted" href="https://www.gallaudet.edu/public-safety/emergency-preparedness-guide/definitions-of-types-and-levels-of-emergencies">Fuente ↪</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label>Correos a Notificar: </label>
            <input id="correos_notificacion" class="form-control" type="text" name="correos_notificacion" required>
        </div>
        <div class="col-md-12">
            <p id="mensaje">Ingrese cada correo separado por ;</p>
        </div>
        <div class="col-md-12">
            <label>Mensaje: </label>
            <textarea id="mensaje_alerta" class="form-control" type="text" name="mensaje_alerta" rows="3" required></textarea>
        </div>
        <div id="subtitulo" class="form-group col-md-12">
            <h4>Notificar cuando: </h4>
        </div>
        <input id="conditions_number" hidden="" name="conditions_number"></input>
        <div id="conditions">
        </div>
        <div class="col-lg-12">
            <label> </label>
            <a class="btn btn-primary" onclick="addCondition()">+</a>
        </div>

        <div id="boton_alerta" class="form-group col-md-12">
            <button class="btn btn-primary" type="submit">Crear Alerta</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        var i = 0;


        $(document).ready(function(){
            addCondition();
        });


        function addStations(){
            $.ajax({
                url:"/api/Station/list",
                dataType:'json',
                async: false,
                success: function(response) {
                    $.each(response, function(idx, station) {
                        let option = $("<option></option>");
                        option.text(station.Name);
                        option.attr("id",station.Id)
                        option.attr("value",station.Id)
                        $("#estacion_alerta"+i).append(option);
                    });
                }
            });
        }


        function addOnChange() {
           $("#estacion_alerta"+i).change(function(){
                let id = $(this).val();
                $.ajax({
                    url:"/api/Station/"+id+"/Sensor",
                    dataType:'json',
                    async: false,
                    success: function(response) {
                        $("#sensor_alerta"+i).empty();
                        $.each(response, function(idx, sensor) {
                            let option = $("<option></option>");
                            let name = sensor.Type + " - " + sensor.Location;
                            option.text(name);
                            option.attr("value",sensor.Id);
                            $("#sensor_alerta"+i).append(option);
                        });
                    }
                });
            });
        }
        

        function addCondition(){
            i++;
            $('#conditions_number').attr('value',i);
            let divContainer = $('<div></div>');
            divContainer.attr('class','condition-container');

            let divStation= $('<div></div>');
            divStation.attr('class','col-md-3');

            let labelStation = $('<label></label>');
            labelStation.text('Estación: ');

            let selectStation = $('<select></select>');
            selectStation.attr('class','form-control');
            selectStation.attr('name','estacion_alerta'+i);
            selectStation.attr('id','estacion_alerta'+i);

            let defaultOption = $('<option></option>');
            defaultOption.attr('hidden','""');
            defaultOption.attr('value','""');
            defaultOption.text('Escoja una opción');

            selectStation.append(defaultOption);
            divStation.append(labelStation);
            divStation.append(selectStation);

            divContainer.append(divStation);

            let divSensor = $('<div></div>');
            divSensor.attr('class','col-md-3');

            let labelSensor = $('<label></label>');
            labelSensor.text('Sensor: ');

            let defaultOption2 = $('<option></option>');
            defaultOption2.attr('hidden','""');
            defaultOption2.attr('value','""');
            defaultOption2.text('Escoja una opción');

            let selectSensor = $('<select></select>');
            selectSensor.attr('class','form-control');
            selectSensor.attr('name','sensor_alerta'+i);
            selectSensor.attr('id','sensor_alerta'+i);
            selectSensor.append(defaultOption2);


            divSensor.append(labelSensor);
            divSensor.append(selectSensor);
            divContainer.append(divSensor);

            let divCondition = $('<div></div>');
            divCondition.attr('class','col-md-3');

            let labelCondition = $('<label></label>');
            labelCondition.text('Condición: ');

            let defaultOption3 = $('<option></option>');
            defaultOption3.attr('hidden','""');
            defaultOption3.attr('value','""');
            defaultOption3.text('Escoja una opción');

            let mayorque = $('<option></option>');
            mayorque.attr('value', 'MAYOR QUE');
            mayorque.text("mayor que");
            let menorque = $('<option></option>');
            menorque.attr('value','MENOR QUE');
            menorque.text("menor que");
            let igualque = $('<option></option>');
            igualque.attr('value','IGUAL QUE');
            igualque.text("igual que");

            let selectCondition = $('<select></select>');
            selectCondition.attr('class','form-control');
            selectCondition.attr('name','condicion_alerta'+i);
            selectCondition.attr('id','condicion_alerta'+i);
            selectCondition.append(defaultOption3);
            selectCondition.append(mayorque);
            selectCondition.append(menorque);
            selectCondition.append(igualque);

            divCondition.append(labelCondition);
            divCondition.append(selectCondition);
            divContainer.append(divCondition);

            let divValue= $('<div></div>');
            divValue.attr('class','col-md-2');

            let labelValue = $('<label></label>');
            labelValue.text('Valor: ');

            let inputValue = $('<input></input>');
            inputValue.attr('id','threshold_alerta'+i);
            inputValue.attr('name','threshold_alerta'+i);
            inputValue.attr('class','form-control');
            inputValue.attr('type','text');

            divValue.append(labelValue);
            divValue.append(inputValue);
            divContainer.append(divValue);
            $("#conditions").append(divContainer);

            addStations();
            addOnChange();
        }
    </script>
}
