@{
    ViewBag.Title = "Crear Alerta";
}
@section Style {
    <style>
        #titulo {
            text-align: center;
        }
        #boton_alerta {
            text-align: left;
            margin-top: 20px;
            margin-bottom: 65px;
        }
        #subtitulo {
            margin-bottom: 5px;
        }
        #formulario {
            margin-left: 0;
            margin-right: 270px;
            overflow: hidden;
        }
        textarea {
            resize: none;
        }

        #mensaje {
            color: gray;
        }
        .modal-footer {
            text-align: center !important;
        }
    </style>
}
<div id="formulario" class="row">
    <form id="form_crear_alerta" method="post" enctype="multipart/form-data" action="/api/bpv/alert/">
        <div id="titulo" class="form-group col-lg-12 col-md-12">
            <h2>Creación de alerta</h2>
        </div>
        <div class="form-group col-lg-6 col-md-6">
            <label>Nombre: </label>
            <input id="nombre_alerta" class="form-control" type="text" name="nombre_alerta" required>
        </div>
        <div class="form-group col-lg-6 col-md-6">
            <label>Tipo: </label>
            <select name="tipo_alerta" class="form-control" required="">
                <option value="" hidden="">Escoja una opción</option>
                    <option value="1">Técnico</option>
                    <option value="2">Amenaza</option>
                    <option value="3">Investigación</option>
            </select>
        </div>
        <div class="col-lg-6 col-md-6">
            <label>Mensaje: </label>
            <input id="mensaje_alerta" class="form-control" type="text" name="mensaje_alerta" required>
        </div>
        <div class="col-lg-6 col-md-6">
            <label>Correos a Notificar: </label>
            <input id="correos_notificacion" class="form-control" type="text" name="correos_notificacion" required>
        </div>
        <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6">
            <p id="mensaje">Ingrese cada correo en una nueva línea</p>
        </div>
        <div id="subtitulo" class="form-group col-lg-12 col-md-12">
            <h4>Notificar cuando: </h4>
        </div>
        <div class="col-lg-3 col-md-3">
            <label>Sensor: </label>
            <input id="sensor_alerta" class="form-control" type="text" name="sensor_alerta" required>
        </div>
        <div class="col-lg-3 col-md-3">
            <label>Sea: </label>
            <select name="tipo_alerta" class="form-control" required="">
                <option value="" hidden="">Escoja una opción</option>
                    <option value="1">mayor que</option>
                    <option value="2">menor que</option>
            </select>
        </div>
        <div class="col-lg-3 col-md-3">
            <label>Valor: </label>
            <input id="threshold_alerta" class="form-control" type="text" name="threshold_alerta" required>
        </div>
        <div class="col-lg-3 col-md-3">
            <label>Unidad: </label>
            <input id="unidad_alerta" class="form-control" type="text" name="unidad_alerta" required>
        </div>
        <div id="boton_alerta" class="form-group col-lg-12 col-md-12">
            <button class="btn btn-primary" type="submit">Crear Alerta</button>
        </div>
    </form>
</div>


