@model WebApplication.Models.Alert
@{
    ViewBag.Title = "Editar Alerta";
}
@section Style {
    <style>
        #titulo {
            text-align: center;
        }
        #boton_especie {
            text-align: left;
            margin-top: 20px;
            margin-bottom: 65px;
        }
        #formulario {
            margin-left: 0;
            margin-right: 270px;
        }
        textarea {
            resize: none;
        }
        .botones_eliminar {
            padding: 0;
            text-align: right;
            display: none;
            margin-bottom: 5px;
        }
        #boton_agregar {
            padding: 0;
            text-align: center;
            margin-bottom: 5px;
        }
        .descripcion, .botones_eliminar, #boton_agregar {
            margin-bottom: 5px;
        }
        #alerta {
            margin: 20px 0 0 0;
        }
        .div_descripcion {
            margin-top: 3px;
        }
        .imagen {
            position: relative;
            display: inline-block;
            overflow: hidden;
            width: 100%;
            border: solid 1px rgb(221, 221, 221);
            padding: 4px;
            border-radius: 2%;
        }
        .img-responsive {
            margin: auto;
        }
        .boton_eliminar {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 100;
            background-color: #f9f9f9;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 1px 1px #888888;
        }
        .material-icons {
            font-size: 25px;
            padding-right: 3px;
            padding-left: 3px;
            padding-top: 3px;
            color: #CB4335;     
        }
        h4#modal_alert_label {
            color: white;
        }
        .modal-header.alert-danger button.close{
            color: white;
            opacity: 1;
        }
        .modal-header.alert-danger {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: #d9534f;
        }
        .modal-footer {
            text-align: center !important;
        }

    </style>
}

<div id="formulario" class="row">
        <form id="form_editar_alerta">
        <div id="titulo" class="form-group col-lg-12 col-md-12">
            <h2>Edición de alerta</h2>
        </div>
        <div class="form-group col-lg-12 col-md-12">
            <label>Nombre: </label>
            <input id="nombre_alerta" class="form-control" type="text" name="nombre_alerta" required>
        </div>
        <div class="form-group col-lg-12 col-md-12">
            <label>Nivel: </label>
            <select name="tipo_alerta" class="form-control" required="">
                <option value="" hidden="">Escoja una opción</option>
                    <option value="3">3 - Incidente Crítico</option>
                    <option value="2">2 - Emergencia Situacional</option>
                    <option value="1">1 - Crisis</option>
            </select>
        </div>
        <div class="col-lg-12 col-md-12">
            <a id="info-niveles" class="text-muted" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Mas información sobre los niveles</a>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <ul>
                        <li><p class="text-info">3: A Level Three emergency is a minor emergency or critical incident that has the potential to require more resources than the responding department has available</p></li>
                        <li><p class="text-warning">2: A Level Two emergency is one that requires a major response and the significant commitment of resources from several University departments or units, but will still be within the capabilities of the University to control</p></li>                        
                        <li><p class="text-danger">1: A Level One emergency is a major emergency, major crisis, or disaster that requires an extensive response and commitment of resources from many departments/units and usually requires outside assistance</p></li>
                    </ul>
                    <a class="tex-muted" href="https://www.gallaudet.edu/public-safety/emergency-preparedness-guide/definitions-of-types-and-levels-of-emergencies">Fuente ↪</a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <label>Correos a Notificar: </label>
            <input id="correos_notificacion" class="form-control" type="text" name="correos_notificacion" required>
        </div>
        <div class="col-lg-12 col-md-12">
            <p class="text-muted">Ingrese cada correo separado por ;</p>
        </div>
        <div class="col-lg-12 col-md-12">
            <label>Mensaje: </label>
            <textarea id="mensaje_alerta" class="form-control" type="text" name="mensaje_alerta" rows="3" required></textarea>
        </div>
        <div id="subtitulo" class="form-group col-lg-12 col-md-12">
            <h4>Notificar cuando: </h4>
        </div>
        <div class="col-lg-2 col-md-2">
            <label>Estación: </label>
            <select id="estacion_alerta" class="form-control" name="estacion_alerta">
            </select>
        </div>
        <div class="col-lg-2 col-md-2">
            <label>Sensor: </label>
            <select id="sensor_alerta" class="form-control" name="sensor_alerta">
            </select>
        </div>
        <div class="col-lg-2 col-md-2">
            <label>Condición: </label>
            <select name="tipo_condicion" class="form-control">
                <option value="" hidden="">Escoja una opción</option>
                    <option value="MAYOR QUE">mayor que</option>
                    <option value="MENOR QUE">menor que</option>
                    <option value="IGUAL QUE">igual que</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-2">
            <label>Valor: </label>
            <input id="threshold_alerta" class="form-control" type="text" name="threshold_alerta">
        </div>
        <div id="boton_alerta" class="form-group col-lg-12 col-md-12">
            <button class="btn btn-primary" onclick="return updateAerta(@Model);">Editar Alerta</button>
        </div>
    </form>
</div>
@section Scripts {
    <script>
        $(document).ready(function(){
            alert_input_changed = [];
        });
        
        $("#formulario input.form-control").change(function () {
            var input_id = $(this).attr("id");
            if(!alert_input_changed.includes(input_id)) {
                alert_input_changed.push(input_id);
            }
        })
        function updateAlert(id) {
            console.log("On development")
        };


    </script>
}