[Unit]
Description=Station simulator for TestStation

[Service]
User=estudiante
ExecStart=/usr/bin/python3 /usr/local/bin/station_simulator.py "TestStation"

[Install]
WantedBy=multi-user.target