[Unit]
Description=Station simulator for TestStation

[Service]
WorkingDirectory=/var/rfcx-espol-server/
ExecStart=/usr/bin/python3 /usr/bin/station_simulator.py "TestStation"

[Install]
WantedBy=multi-user.target