@{
    Layout = "~/Pages/_Layout.cshtml";
}
@{
    ViewBag.Title = "Bosque";
}
@section Home{
  <a id="home-pag" href='@Url.Action("Index","")'><i class="fa fa-home w3-xxlarge navbar-text"></i></a>
}

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Unity WebGL Player | Bosque Virtual</title>
<link rel="shortcut icon" href="js/TemplateData/favicon.ico">
<link rel="stylesheet" href="js/TemplateData/style.css">

@section ScriptsIndex {
	<script src="js/TemplateData/UnityProgress.js"></script>  
    	<script src="js/Build/UnityLoader.js"></script>
	<script>
    		var gameInstance = UnityLoader.instantiate("gameContainer", "js/Build/BosqueVirtual.json", {onProgress: UnityProgress});
    </script>
}

<audio hidden controls id="audio">
	<source id="source" src="" type="audio/ogg">
</audio>

<div class="container" style="border: 2px solid yellow; position: absolute;">	
	<br>
	<br>
	<div class="webgl-content" style="border: 2px solid blue;">
		<div id="gameContainer" style="width: 960px; height: 600px; border: 2px solid red; position: realtive; top: 30%;"></div>
		<div class="footer">
			<div class="webgl-logo"></div>
			<div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
			<div class="title">Bosque Virtual</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/forestaudio.js"></script>
}


