@model IndexModel
@{
    ViewData["Title"] = "Bosque Protector";
}
@section Style{
  <link href='/css/stations.css' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>     
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
}


<p>Place stats content @ViewBag.message</p>
@section ScriptsIndex {
  <script src="~/js/stations.js"></script>
}