@using Microsoft.Extensions.FileProviders
@model IndexModel
@{
    ViewBag.Title = "Estadísticas";
}

@section Style {
  <link rel="stylesheet" type="text/css" href="~/css/deviceView.css">
  <style>   
    /*
    div[id^="tab_"] {
      width: 60%;
    }*/
  </style>
}

<div class="tab" id="tab">
  <button class="tablinks" name="monitor" onclick="openDevice(event, 'monitor')" id="defaultOpen"><i class="fa fa-television tabL" aria-hidden="true"></i><p class="tabMonitor">Consulta de Datos</p></button>
  <button class="tablinks" name="statsTab" id="stats" onfocus="openDevice(event,'individual')"><i class="fa fa-bar-chart tabL" aria-hidden="true"></i><p class="tabMonitor">Estadisticas</p></button>
  <!--New tabs-->
</div>

<!--MONITOR-->
<div id="monitor" class="tabcontent" onload="display(this)">
      <h3 id="stationName" style="text-align: center; color: #e4b836; font-weight: bold;">@ViewData["stationName"].ToString()</h3>
      <p id="stationId" style="display:none">@ViewData["stationId"].ToString()</p>
</div>

<div id="individual" class="tabcontent">
  <h3 id="stationName" style="text-align: center; color: #e4b836; font-weight: bold;">@ViewData["stationName"].ToString()</h3>
  <!--INDIVIDUAL SENSORS -->
</div>

@section Scripts {
  <!--jscript charts-->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/canvasjs.min.js"></script>
  <script src="js/moment.js"></script>
  <script type="text/javascript" src="js/monitor.js"></script> 
  <script type="text/javascript" src="js/individualCharts.js"></script>
  <!--<script type="text/javascript" src="js/simulator.js"></script>-->
}