@using Microsoft.Extensions.FileProviders
@model IEnumerable<WebApplication.Models.Sensor>
@{
    ViewBag.Title = "Estadísticas";
}

@section Style {
  <link rel="stylesheet" type="text/css" href="~/css/stationView.css">
}

<div class ="card ml-3">
  <div class="card-body">    
    <h3 class="titleHistoricalView">Datos en tiempo real</h3>
    <p class="text-center">@ViewData["stationName"].ToString()</p>
  </div>
</div>

<div class="chartsContainer">
   <p id="stationId" style="display:none">@ViewData["stationId"].ToString()</p>
</div>

<!--div id="individual" class="tabcontent" style="text-align: center; margin-bottom:10%;">
 </div-->

@section Scripts {   
  <script src="~/js/moment.js" type="text/javascript"></script>
  <script src="~/js/charts/canvasjs-2.1.2/canvasjs.min.js" type="text/javascript"></script>
  <script src="~/js/charts/simple-statistics/simple-statistics.min.js" type="text/javascript"></script>  
  <script src="~/js/charts/monitor.js" type="text/javascript"></script>
  <!--script src="js/charts/simulator.js" type="text/javascript"></script-->
}