@using Microsoft.Extensions.FileProviders
@model WebApplication.IndexModel
@{
    Layout = "~/Pages/_Layout.cshtml";
}

@{
    ViewBag.Title = "DeviceView";
}
@section Home{
  <a id="home-pag" href='@Url.Action("Index","")'><i class="fa fa-home w3-xxlarge navbar-text"></i></a>
}
<link rel="stylesheet" type="text/css" href="~/css/deviceView.css">
<link type="text/css" rel="stylesheet" href="//pubnub.github.io/eon/v/eon/1.0.0/eon.css"/>
<script type="text/javascript" src="//pubnub.github.io/eon/v/eon/1.0.0/eon.js"></script>


<div class="tab" id="tab">
  <button class="tablinks" name="monitor" onclick="openDevice(event, 'monitor')" id="defaultOpen"><i class="material-icons">&#xe30c;</i>  Monitor</button>
  <!--New tabs-->
</div> 
<!--MONITOR-->
<div id="monitor" class="tabcontent" onload="display(this)">
      <h3 id="nameDevice" style="text-align: center; color: #e4b836; font-weight: bold;">@ViewData["deviceName"].ToString()</h3>
      <p id="deviceId" style="display:none">@ViewData["deviceId"].ToString()</p>
</div>
<div id="individual">
  <!--INDIVIDUAL SENSORS -->
</div>


@section Scripts {
  <!--jscript charts-->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/canvasjs.min.js"></script>
  <!--script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script-->

  <script type="text/javascript" src="js/individualCharts.js"></script>
  <script type="text/javascript" src="js/monitor.js"></script> 
  
 }