@page
@model IndexModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Bosque Protector";
}
@section Style{
  <link rel="stylesheet" href="~/css/index.css" />
}

<div id="map"></div>

@section ScriptsIndex {
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    setInterval(function(){
      console.log("aquí recibiremos los datos cada 5 minutos");
    }, 50000);
    $(window).on('load',function(){
    devices=[];//{"id":1,"content":<>,"lat": -2.3,"long": -64.3}

    function getDataDisp(data){
      var dataDic = JSON.parse(data);
      for(device of dataDic){
        var latitud = parseFloat(device['Latitude']);
        var longitud = parseFloat(device['Longitude']);
        var idDevice=device['Id'];
        var nameDevice=device['Name'];

        var contentString = '<div id="contentInfo">'+
                    '<h3 id="firstHeading" class="firstHeading"> @Html.ActionLink("titulo", "Index", "DeviceView", new { deviceName = "deviceNameValue" })</h3>'+
                    '<div id="bodyContent" style="width: 85px;">';
        contentString = contentString.replace("titulo", nameDevice);
        contentString = contentString.replace("deviceNameValue", nameDevice);

        devicesDic = {};
        devicesDic["id"] = idDevice;
        devicesDic["content"] = contentString;
        devicesDic["lat"]=latitud;
        devicesDic["long"]=longitud;
        devices.push(devicesDic);
        
      }
      getDataSensor();
    }
    function getDataSensor(){
      for(device of devices){
        var deviceId = device['id']; 
        $.get('api/Device/'+parseInt(deviceId)+'/Sensor/', function(data){
          var dataDic = JSON.parse(data);
          for(sensor of dataDic){
            var idDevice = sensor['DeviceId'];
            var typeSensor = sensor['Type'];
            var locationSensor = sensor['Location'];
            var contentS = devices[idDevice-1]["content"];
            if(typeSensor=="Humedad"){
              devices[idDevice-1]["content"] = contentS + '<p style="font-size: 14px; float: left;"><i class="fa fa-tint" style="font-size:20px; color: #527cfb" ></i> Amb.: </p><p id="valueHum" style="font-size: 14px; line-height: 2;"> 30 °C</p>';
            }
            else if(typeSensor=="Temperatura" && locationSensor=="Ambiente"){
              devices[idDevice-1]["content"] = contentS + '<p style="font-size: 14px; float: left;"><i class="fa fa-thermometer" style="font-size:20px; color: #ff7800;"></i> Amb.: </p><p id="valueTempAmb" style="font-size: 14px; line-height: 2;"> 35 °C</p>';
            }else{
              devices[idDevice-1]["content"] = contentS + '<p style="font-size: 14px; float: left;"><i class="fa fa-thermometer" style="font-size:20px; color: #ff7800;"></i> Disp.: </p><p id="valueTempDisp" style="font-size: 14px; line-height: 2;"> 40 H</p>';
            }
            devices[idDevice-1]["content"] = devices[idDevice-1]["content"] +'</div>'+
                                    '</div>';
            
          }
          initMap();
        });
        
      }

      
    }
    
    
    function initMap() {
          var bosque = {lat: -2.15437, lng: -79.963035};
          var estilos =[
              {
                  featureType: "poi",
                  elementType: "labels",
                  stylers: [
                        { visibility: "off" }
                  ]
              },
              {
                  featureType: "transit",
                  elementType: "labels",
                  stylers: [
                        { visibility: "off" }
                  ]
              }
          ];
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: bosque,
            styles: estilos
          });
          map.setMapTypeId(google.maps.MapTypeId.HYBRID);
          
          for(device of devices){
            var coordenadas = {lat: parseFloat(device['lat']), lng: parseFloat(device['long'])};
            var contentString = device["content"];
            var infowindow = new google.maps.InfoWindow({
            content: contentString
            });
            var imageURL = 'http://maps.google.com/mapfiles/kml/paddle/orange-circle.png';
            var image = {
              url: imageURL,
              scaledSize: new google.maps.Size(30, 30)
            };
            var marker = new google.maps.Marker({
              position: coordenadas,
              map: map,
              icon: image
            });
            //infowindow.open(map,marker);
            var currentInfoWindow = null;
            google.maps.event.addListener(marker,'click', (function(marker,contentString,infowindow){ 
              return function() {
                  if (currentInfoWindow != null) { 
                    currentInfoWindow.close(); 
                  }
                  infowindow.open(map, marker); 
                  currentInfoWindow = infowindow;
              };
            })(marker,contentString,infowindow));
            
          }
          
            
    }
    
    $.get('api/Device', getDataDisp);
    });
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFXwpsfDP00RgZGAlNum0MVhHdP0X0IP0">
    </script>
}