@page
@model IndexModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Bosque Protector";
}
@section Style{
  <link rel="stylesheet" href="~/css/index.css" />
}

<div id="map"></div>

@section ScriptsIndex {
    <script>
    setInterval(function(){
      console.log("aquí recibiremos los datos cada 5 minutos");
    }, 50000);
    $(window).on('load',function(){
    devices=[];//{"id":1,"content":<>,"lat": -2.3,"long": -64.3}

    function getDataDisp(data){
      var dataDic = JSON.parse(data);
      for(device of dataDic){
        var latitud = parseFloat(device['Latitude']);
        var longitud = parseFloat(device['Longitude']);
        var idDevice=device['Id'];
        var nameDevice=device['Name'];

        var contentString = '<div id="contentInfo">'+
                    '<h3 id="firstHeading" class="firstHeading"> @Html.ActionLink("titulo", "Index", "DeviceView", new { deviceName = "deviceNameValue" })</h3>'+
                    '<div id="bodyContent" style="width: 85px;">';
        contentString = contentString.replace("titulo", nameDevice);
        contentString = contentString.replace("deviceNameValue", nameDevice);

        devicesDic = {};
        devicesDic["id"] = idDevice;
        devicesDic["content"] = contentString;
        devicesDic["lat"]=latitud;
        devicesDic["long"]=longitud;
        devices.push(devicesDic);
        
      }
      getDataSensor();
    }
    function getDataSensor(){
      for(device of devices){
        var deviceId = device['id']; 
        $.get('api/Device/'+parseInt(deviceId)+'/Sensor/', function(data){
          var dataDic = JSON.parse(data);
          for(sensor of dataDic){
            var idDevice = sensor['DeviceId'];
            var typeSensor = sensor['Type'];
            var locationSensor = sensor['Location'];
            var contentS = devices[idDevice-1]["content"];
            if(typeSensor=="Humedad"){
              devices[idDevice-1]["content"] = contentS + '<p style="font-size: 14px; float: left;"><i class="fa fa-tint" style="font-size:20px; color: #527cfb" ></i> Amb.: </p><p id="valueHum" style="font-size: 14px; line-height: 2;"> 30 °C</p>';
            }
            else if(typeSensor=="Temperatura" && locationSensor=="Ambiente"){
              devices[idDevice-1]["content"] = contentS + '<p style="font-size: 14px; float: left;"><i class="fa fa-thermometer" style="font-size:20px; color: #ff7800;"></i> Amb.: </p><p id="valueTempAmb" style="font-size: 14px; line-height: 2;"> 35 °C</p>';
            }else{
              devices[idDevice-1]["content"] = contentS + '<p style="font-size: 14px; float: left;"><i class="fa fa-thermometer" style="font-size:20px; color: #ff7800;"></i> Disp.: </p><p id="valueTempDisp" style="font-size: 14px; line-height: 2;"> 40 H</p>';
            }
            devices[idDevice-1]["content"] = devices[idDevice-1]["content"] +'</div>'+
                                    '</div>';
            
          }
          initMap();
        });
        
      }

      
    }
    
    
    function initMap() {
          var bosque = {lat: -2.15437, lng: -79.963035};
          var estilos =[
              {
                  featureType: "poi",
                  elementType: "labels",
                  stylers: [
                        { visibility: "off" }
                  ]
              },
              {
                  featureType: "transit",
                  elementType: "labels",
                  stylers: [
                        { visibility: "off" }
                  ]
              }
          ];
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: bosque,
            styles: estilos
          });
          map.setMapTypeId(google.maps.MapTypeId.HYBRID);
          
          for(device of devices){
            var coordenadas = {lat: parseFloat(device['lat']), lng: parseFloat(device['long'])};
            var contentString = device["content"];
            var infowindow = new google.maps.InfoWindow({
            content: contentString
            });
            var imageURL = 'http://maps.google.com/mapfiles/kml/paddle/orange-circle.png';
            var image = {
              url: imageURL,
              scaledSize: new google.maps.Size(30, 30)
            };
            var marker = new google.maps.Marker({
              position: coordenadas,
              map: map,
              icon: image
            });
            //infowindow.open(map,marker);
            var currentInfoWindow = null;
            google.maps.event.addListener(marker,'click', (function(marker,contentString,infowindow){ 
              return function() {
                  if (currentInfoWindow != null) { 
                    currentInfoWindow.close(); 
                  }
                  infowindow.open(map, marker); 
                  currentInfoWindow = infowindow;
              };
            })(marker,contentString,infowindow));
            
          }
          
            
    }
    
    $.get('api/Device', getDataDisp);
    });
        
      /*function initMap() {
        var bosque = {lat: -2.15437, lng: -79.963035};
        var estilos =[
            {
                featureType: "poi",
                elementType: "labels",
                stylers: [
                      { visibility: "off" }
                ]
            },
            {
                featureType: "transit",
                elementType: "labels",
                stylers: [
                      { visibility: "off" }
                ]
            }
        ];
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: bosque,
          styles: estilos
        });
        map.setMapTypeId(google.maps.MapTypeId.HYBRID);
        var locations = [
          {lat: -2.1525717, lng: -79.9628617},
          {lat: -2.1524433, lng: -79.9638317},
          {lat: -2.1526917, lng: -79.9642533},
          {lat: -2.1530517, lng: -79.9838467},
          {lat: -2.15437, lng: -79.963035},
          {lat: -2.1546933, lng: -79.962985},
          {lat: -2.1553117, lng: -79.9624633}
        ]
        let devicesMap={};
        let deviceInfoMap = {};
        setInterval(function(){  
          $.get('api/Sensor', function(result){
            var sensorDic=JSON.parse(result);
            for(let sensor of sensorDic){
              var idDevice = sensor["DispositivoId"];
              $.get('api/dispositivo/'+parseInt(idDevice), function(deviceInfo){
                var deviceDic=JSON.parse(deviceInfo);
                let deviceId = parseInt(deviceDic['Id']);
                if(devicesMap[deviceId]==null){
                  
                  deviceInfoMap['nombre']=deviceDic['Nombre'];
                  deviceInfoMap['latitud']=deviceDic['Latitud'];
                  deviceInfoMap['longitud']=deviceDic['Longitud'];
                  let sensoresList=[sensor];
                  deviceInfoMap['sensores']=sensoresList;
                  devicesMap[deviceId]=deviceInfoMap;
                }else{
                  devicesMap[deviceId]['sensores'].push(sensor);
                }
              });
            }
            let j = 0;
            for(var key in devicesMap) {
              var value = devicesMap[key];
              var nomDispositivo = value['nombre'];
              var latitud = value['latitud'];
              var longitud = value['longitud'];
              var sensoresLista = value['sensores'];

              var contentString = '<div id="contentInfo">'+
                    '<h3 id="firstHeading" class="firstHeading"> @Html.ActionLink("titulo", "Index", "DeviceView", new { deviceName = "deviceNameValue" })</h3>'+
                    '<div id="bodyContent">';

              for(var sensorD in sensoresLista){
                var tipoSensor = sensorD['Tipo'];
                var ubicacionSensor = sensorD['Ubicacion'];

                if(tipoSensor=="humedad"){
                  contentString = contentString + '<p style="font-size: 14px;"><i class="fa fa-tint" style="font-size:20px; color: #527cfb";></i> Amb.: '+'valor'+'%</p>';
                }
                else if(tipoSensor=="Temperatura" && ubicacionSensor=="Ambiente"){
                  contentString = contentString + '<p style="font-size: 14px;"><i class="fa fa-thermometer" style="font-size:20px; color: #ff7800;"></i> Amb.: '+'valor'+'°C</p>';
                }else{
                  contentString = contentString + '<p><i class="fa fa-thermometer" style="font-size:20px; color: #ff7800;"></i> Telf.: '+'valor'+'°C</p>';
                }
              }
              contentString = contentString +'</div>'+
                                '</div>';
              contentString = contentString.replace("titulo", nomDispositivo);
              contentString = contentString.replace("deviceNameValue", nomDispositivo);
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });

              var imageURL = 'http://maps.google.com/mapfiles/kml/paddle/orange-circle.png';
              var image = {
                url: imageURL,
                scaledSize: new google.maps.Size(30, 30)
              };
              var coordenadas = new google.maps.LatLng(parseFloat(latitud),parseFloat(longitud));
              console.log("LATITUD: "+coordenadas.lat());
              console.log("LONGITUD: "+coordenadas.lng());
              lati=parseFloat(latitud);
              long=parseFloat(longitud);
              var marker = new google.maps.Marker({
                position: coordenadas,
                map: map,
                icon: image
              });
              j++;
              //infowindow.open(map,marker);
              google.maps.event.addListener(marker,'click', (function(marker,contentString,infowindow){ 
                return function() {
                    infowindow.open(map,marker);
                };
              })(marker,contentString,infowindow));
            }
            devicesMap={};
            devicesInfoMap={};
          });
        }, 5000); 
      }*/
      /*function initMap() {
        var bosque = {lat: -2.15437, lng: -79.963035};
        var estilos =[
            {
                featureType: "poi",
                elementType: "labels",
                stylers: [
                      { visibility: "off" }
                ]
            },
            {
                featureType: "transit",
                elementType: "labels",
                stylers: [
                      { visibility: "off" }
                ]
            }
        ];
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: bosque,
          styles: estilos
        });
        map.setMapTypeId(google.maps.MapTypeId.HYBRID);
        var locations = [
          {lat: -2.1525717, lng: -79.9628617},
          {lat: -2.1524433, lng: -79.9638317},
          {lat: -2.1526917, lng: -79.9642533},
          {lat: -2.1530517, lng: -79.9838467},
          {lat: -2.15437, lng: -79.963035},
          {lat: -2.1546933, lng: -79.962985},
          {lat: -2.1553117, lng: -79.9624633}
        ]

        setInterval(function(){
          $.getJSON('json/sensores.json', function(result){
            $.each(result, function(i, field){
              let j=0;
              for(let device of field){
                  var nomDispositivo = device.nombreDispositivo;
                  var sensoresList = device.sensores;
                  var contentString = '<div id="contentInfo">'+
                      '<h3 id="firstHeading" class="firstHeading"> @Html.ActionLink("titulo", "Index", "DeviceView", new { deviceName = "deviceNameValue" })</h3>'+
                      '<div id="bodyContent">';
                    for(let sensor of sensoresList){
                        var nombreSensor = sensor.nombre;
                        var muestras = sensor.muestras;
                        for(let muestra of muestras){
                            var tipo = muestra.tipo;
                            var funcion = muestra.funcion;
                            var valor = muestra.valor;
                            if(tipo=="humedad"){
                                contentString = contentString + '<p style="font-size: 14px;"><i class="fa fa-tint" style="font-size:20px; color: #527cfb";></i> Amb.: '+valor+'%</p>';
                            }
                            else if(tipo=="temperatura" && funcion=="ambiente"){
                                contentString = contentString + '<p style="font-size: 14px;"><i class="fa fa-thermometer" style="font-size:20px; color: #ff7800;"></i> Amb.: '+valor+'°C</p>';
                            }else{
                                contentString = contentString + '<p><i class="fa fa-thermometer" style="font-size:20px; color: #ff7800;"></i> Telf.: '+valor+'°C</p>';
                            }
                        }
                    }
                  contentString = contentString +'</div>'+
                                  '</div>';
                  contentString = contentString.replace("titulo", nomDispositivo);
                  contentString = contentString.replace("deviceNameValue", nomDispositivo);
                  var infowindow = new google.maps.InfoWindow({
                    content: contentString
                  });

                  var imageURL = 'http://maps.google.com/mapfiles/kml/paddle/orange-circle.png';
                  var image = {
                    url: imageURL,
                    scaledSize: new google.maps.Size(30, 30)
                  };
                  var marker = new google.maps.Marker({
                    position: locations[j],
                    map: map,
                    icon: image
                  });
                  //infowindow.open(map,marker);
                  google.maps.event.addListener(marker,'click', (function(marker,contentString,infowindow){ 
                    return function() {
                       infowindow.open(map,marker);
                    };
                  })(marker,contentString,infowindow));
                j++;
                }              
            });
          });
        }, 3000); 
      }*/
=======
>>>>>>> Map corrections to create station boxes from database
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFXwpsfDP00RgZGAlNum0MVhHdP0X0IP0">
    </script>
}