@page
@model IndexModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Bosque Protector";
}
@section Style{
  <link rel="stylesheet" href="~/css/index.css" />
}

<div id="map"></div>

@section ScriptsIndex {
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/map.js"></script>
  <script>
    $(window).on('load',function(){
    devices=[];//{"id":1,"sensorsId":[],"content":<>,"lat": -2.3,"long": -64.3}

    function getDataDisp(data){
      var dataDic = JSON.parse(data);
      for(device of dataDic){
        var latitud = parseFloat(device['Latitude']);
        var longitud = parseFloat(device['Longitude']);
        var idDevice=device['Id'];
        var nameDevice=device['Name'];

        var contentString = '<div id="contentInfo">'+
                    '<h3 id="firstHeading" class="firstHeading"> @Html.ActionLink("titulo", "Index", "DeviceView", new { deviceName = "deviceNameValue", deviceId = "deviceIdVal" })</h3>'+
                    '<div id="bodyContent" style="width: 85px;">';
        contentString = contentString.replace("titulo", nameDevice);
        contentString = contentString.replace("deviceNameValue", nameDevice);
        contentString = contentString.replace("deviceIdVal", idDevice);

        devicesDic = {};
        devicesDic["id"] = idDevice;
        devicesDic["content"] = contentString;
        devicesDic["lat"]=latitud;
        devicesDic["long"]=longitud;
        devicesDic["sensorsId"] = [];
        devices.push(devicesDic);
        
      }
      getDataSensor();
    }
    
    
    $.get('api/Device', getDataDisp);
    });
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFXwpsfDP00RgZGAlNum0MVhHdP0X0IP0">
    </script>
}