* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}
/*Style exportar*/
.exportcsv {
    background-color: #ffff;
    border: 1px solid #007f42;
    color: #007f42;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin: 2px 2px;
    cursor: pointer;
    float: right;
}

.exportcsv:hover, .exportcsv:focus {
    text-decoration: none;
    color: #007f42;
}

/* Style the tab */
.tab {
    /*border: 1px solid #ccc;*/
    background-color: #007f42;    
    /*height: 400px;*/
}
.tabcontent{
  background-color: white;
}
.nameHum, .nameTempDisp, .nameTempAmb, .tabMonitor{
    margin-left: 30px;
    font-size: 15px;
}
.tabL{
    float: left;
}
#mobil{
    display: none;
}
/* Style the individual graphics*/
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }
hr{
    margin-bottom: 0px;
    margin-top: 40px;
    border-color: #908585;
  }
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-top: 1px solid #ccc;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #54b788;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #54b788;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 80%;
    border: 1px solid #ccc;
}

.boxInfoValues{
    width: 100%;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 65px;
    clear: both;
}
.boxLetters{
    margin-right: 20px;
    float: left;
    font-size: 18px;
    text-align: center;
}

.iconsMinMax{
    font-size: 13px;
}

.iconsAvg{
    font-size: 13px;
}

#temp_disp_chart, #temp_amb_chart{
    max-height: 160px;
    max-width: 350px;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    display: flex;
}
#humedad_chart, #temp_amb_chart, #temp_disp_chart{
    max-height: 250px !important;
    height: 250px !important;
}
.titulo_sensor{
    text-align: center;
}
.sensores_monitor{
    margin-bottom: 20px;
}

/* The side navigation menu */
div#submenu {
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    background-color: #111; /* Black*/
    opacity: 0.9;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition-duration: 0.3s;
}

/* The navigation menu links */
div#submenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #c9b8b8;
    display: block;
    transition-duration: 0.1s;
}

/* When you mouse over the navigation links, change their color */
div#submenu a:hover {
    color: #f1f1f1;
}

#dispositivos {
    border-top: 1px solid #ccc;
}

.initialMon{
    margin-left: 35%;
}
.initialMon, .middle, .last{
    margin-right: 7px;
}
.initialValue, .middleValue{
    margin-right: 35px;
}
.chart-title{
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 20px;
    color: #7d827d;
}
.titulo_sensor i {
    font-size:20px;
}
.tablinks i{
    font-size:24px;
}
/*-----Date-------------------*/
/*Button filter*/
.filter{
    color: #fff;
    background: #007f42;
    border-radius: 6px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}
.filter:hover {
    color: #e4b836; 
}
.filter:disabled {
    background: #007f429c;
}
input{
    margin-bottom: 10px;
}
#fin{
    margin-left: 10px;
}
label{
    margin-right: 10px;
    color: #757575;
}

.selectDiv{
    margin: 20px 0px 20px 20px;
}

#data-act-statsTab {
    margin: 20px 0px 20px 20px;
}

#data-act-statsTab input {
    margin-right: 5px;
}

#data-act-statsTab label {
    margin-right: 20px;
}

/*-----Date-------------------*/
@media (max-width: 1199px) {
    .initialMon{
        margin-left: 30%;
    }
}
@media (max-width: 991px) {
    .initialMon{
        margin-left: 23%;
    }
}
@media (max-width: 767px) {
    .initialMon{
        margin-left: 23%;
    }
    .main-title{
        font-size: 21px;
    }
    .chart-title{
        font-size: 18px;
    }
}

@media (max-width: 640px) {
    .initialMon{
        margin-left: 20%;
    }
    
    .main-title{
        font-size: 21px;
    }
    .chart-title{
        font-size: 18px;
    }
    .boxLetters {
        margin-right: 11px;
        font-size: 17px;
    }
}

@media (max-width: 480px) {
    .initialMon{
        margin-left: 9%;
    }
    .boxLetters {
        margin-right: 12px;
        font-size: 14px;
    }
    
    .main-title{
        font-size: 19px;
    }
    .chart-title{
        font-size: 15px;
    }
    .nameHum, .nameTempDisp, .nameTempAmb, .tabMonitor{
        display: none;
    }
    #mobil{
        display: inline-block;
        font-size: 29px;
        margin-left: 8px;
    }
  }

@media (max-width: 360px) {
    .initialMon{
        margin-left: 12%;
    }
    .last{
        margin-left: 25%;
    }
    .boxLetters {
        margin-right: 11px;
        font-size: 14px;
    }
    .main-title{
        font-size: 19px;
    }
    .chart-title{
        font-size: 15px;
    }
    .nameHum, .nameTempDisp, .nameTempAmb, .tabMonitor{
        display: none;
    }
    #mobil{
        display: inline-block;
        font-size: 29px;
        margin-left: 3px;
    }
}