* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
    float: left;
    /*border: 1px solid #ccc;*/
    background-color: #007f42;    
    width: 20%;
    /*height: 400px;*/
}
.tabcontent{
  background-color: white;
}
/* Style the individual graphics*/
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }
/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: 1px solid #ccc;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #54b788;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #54b788;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 80%;
    /*border-left: none;
    height: 400px;*/
}

#boxInfoValues{
    width: 100%;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.boxLetters{
    margin-right: 20px;
    float: left;
    font-size: 18px;
    text-align: center;
}

.iconsMinMax{
    font-size: 13px;
}

.iconsAvg{
    font-size: 13px;
}

#temp_disp_chart, #temp_amb_chart{
    max-height: 160px;
    max-width: 350px;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    display: flex;
}

/*#temp_amb_chart, #temp_disp_chart{
    max-height: 150px !important;
    height: 150px !important;
} */
#humedad_chart, #temp_amb_chart, #temp_disp_chart{
    max-height: 250px !important;
    height: 250px !important;
}
.titulo_sensor{
    text-align: center;
}
.sensores_monitor{
    margin-bottom: 20px;
}

/* The side navigation menu */
div#submenu {
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    background-color: #111; /* Black*/
    opacity: 0.9;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition-duration: 0.3s;
}

/* The navigation menu links */
div#submenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #c9b8b8;
    display: block;
    transition-duration: 0.1s;
}

/* When you mouse over the navigation links, change their color */
div#submenu a:hover {
    color: #f1f1f1;
}

#dispositivos {
    border-top: 1px solid #ccc;
}

.initial{
    margin-left: 34%;
}
.initial, .middle, .last{
    margin-right: 7px;
}
.initialValue, .middleValue{
    margin-right: 35px;
}

@media (max-width: 1199px) {
    .initial{
        margin-left: 28%;
    }
}
@media (max-width: 991px) {
    .initial{
        margin-left: 26%;
    }
}
@media (max-width: 767px) {
    .initial{
        margin-left: 19%;
    }
    .main-title{
        font-size: 21px;
    }
    .chart-title{
        font-size: 18px;
    }
}

@media (max-width: 640px) {
    .initial{
        margin-left: 13%;
    }
    
    .main-title{
        font-size: 21px;
    }
    .chart-title{
        font-size: 18px;
    }
    .boxLetters {
        margin-right: 11px;
        font-size: 17px;
    }
}

@media (max-width: 480px) {
    .initial{
        margin-left: 9%;
    }
    .boxLetters {
        margin-right: 12px;
        font-size: 14px;
    }
    
    .main-title{
        font-size: 19px;
    }
    .chart-title{
        font-size: 15px;
    }
  }

@media (max-width: 360px) {
    .initial{
        margin-left: 12%;
    }
    .last{
        margin-left: 25%;
    }
    .boxLetters {
        margin-right: 11px;
        font-size: 14px;
    }
    .main-title{
        font-size: 19px;
    }
    .chart-title{
        font-size: 15px;
    }
}

@media (max-width: 320px) {


    
  }