.container.body-content {
    padding: 20px;
}
.titulo {
    background-color: #397f43;
    border: 2px solid #397f43;
    text-align: center;
}
.titulo h4 {
    color: white;
}
.cuerpo {
    padding: 10px 5px 0 5px;
    border: 2px solid #397f43;
}
.equal {
    display: flex;
    flex-wrap: wrap;
}
.estacion {
    margin-bottom: 15px;
}