.container.body-content {
    padding: 20px !important;
}
.title {
    background-color: rgba(247, 247, 247, 1);
    border: 1px solid #6c757d;
    padding-left: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.title h4 {
    color: rgb(34, 37, 41);
    position: relative;
    text-align: center;
}
/*#link {
    float: left;
}
#delete, #edit {
    float: right;
    margin-top: 7px;
    margin-right: 5px;
}*/
a.material-icons.edit {
    position: absolute;
    top: 7px;
    right: 45px;
    cursor: pointer;
}
a.material-icons.delete_station {
    position: absolute;
    top: 7px;
    right: 19px;
    cursor: pointer;
}
.station_body {
    padding: 10px 5px 0 5px;
    border: 1px solid #6c757d;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.new_station_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #6c757d;
    border-radius: 4px;
}
.equal {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.station {
    margin-bottom: 15px;
}
.modal-footer {
    text-align: center;
}
/*#station_modal {
    width: 60%;
    margin: 70px auto;
    padding: 0 !important;
}
@media (max-width: 768px) {
    #new_station_modal {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    #new_station_modal {
        width: 80%;
    }
}*/