* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/*makes element inside .container occupy all width*/
.body-content {
	width:auto;
}
/*container of all charts*/
.chartsContainer {
    margin: 10px 50px;
    margin-bottom:10%;
}

.titleHistoricalView{
    text-align: center; 
    color: #e4b836; 
    font-weight: bold;
}

/*this class is critical for basic statistics values to be shown in a line*/
.basicStatisticValue{
    display : inline;
    margin-right: 15px;
}

.iconBasicStatitic{
    font-size: 13px;
}

.canvasJsChart{
    margin-top : 20px;
}

label{
    margin-right: 10px;
    color: #757575;
}

/*to remove up and down arrows of date input element*/
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}


/*--POSSIBLY DEPRECATED--*/
/* The side navigation menu */
div#submenu {
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    background-color: #111; /* Black*/
    opacity: 0.9;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition-duration: 0.3s;
}

/* The navigation menu links */
div#submenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #c9b8b8;
    display: block;
    transition-duration: 0.1s;
}

/* When you mouse over the navigation links, change their color */
div#submenu a:hover {
    color: #f1f1f1;
}
