[Unit]
Description=mongo database monitoring script
After=mongod.service
StartLimitIntervalSec=0
Conflicts=getty@tty1.service

[Service]
WorkingDirectory=/usr/bin
User=estudiante
Type=simple
Restart=always
RestartSec=1
ExecStart=/var/alert-daemon/daemonvenv/bin/python3 /usr/bin/alertRaiser.py

[Install]
WantedBy=multi-user.target
